/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-nav{
    background-color: bisque;
    text-align: center;
 }

 .container-titulo{
    text-align: center;
    color: white;
    background-color: darkslategrey;
 }

 .pagina-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
 }

 body{
    text-align: center;
 }

 img{
    height: 300px;
    width: 300px;
    margin: 20px
 }

 a{
    margin: 5px;
 }
 
 button{
    margin: 20px;
 }

 .product{
   margin: 20px;
   border: 5px solid darkslategrey;
 }
 .review{
   margin: 20px;
   border: 5px solid darkslategrey;
 }

 table{
   margin: 0 auto;
   margin-top: 20px;
 }

 th,td{
   padding: 5px;
   border: 1px solid black;
 }

 .delete-button {
   background-color: #ff4d4d;
   color: white;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 .answer {
   margin-bottom: 20px;
   border: 5px solid grey;
   padding: 10px;
   border-radius: 5px;
 }
 
 .question {
   margin: 20px;
   border: 5px solid chocolate
 }