  <ul class="navbar-nav">
    <% if user_signed_in? && can?(:create, Product) %>
      <li class="nav-item">
        <%= link_to "Crear Producto", new_product_path, class: "nav-link" %>
      </li>
    <% end %>
    <li>
      <%= link_to "Foro", new_product_path, class: "nav-link" %>
    </li>
  </ul>

